<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="keywords" content="荆襄物流园管理平台车源,车源信息,车源咨询,荆襄物流园管理平台,供求信息,物流信息平台,物流交易">
    <title th:replace="${title}">荆襄物流园</title>
    <link href="/static/css/zhwl.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/static/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="/static/js/city.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/layui-v2.6.8/layui/css/layui.css">
</head>


<body>


<nav th:fragment="top_menu">

    <style>
        .nav {
            width: 100%;
            height: 118px;
            overflow: hidden;
            text-align: center;
        }

        .nav img {
            width: 1440px;
        }

        .head-title {
            width: 100%;
            height: 40px;
            background:  #1E9FFF;
            margin-bottom: 20px;
        }
  /*      .head-title {
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 998;
            min-height: 5rem;
            background: #fff;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 16px 0 rgba(0,0,0,0.14);
        }
        .head-title ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-right: 3%;
            height: 5rem;
        }

        .head-title ul li {
            width: 8.125rem;
            text-align: center;
            display: inline-block;
            position: relative;
            line-height: 5rem;
        }

        .head-title ul li a {
            width: 7.8125rem;
            color: #333;
            font-size: 1.13rem;
            font-weight: 300;
            display: block;
            height: inherit;
            transition: .3s all;
            cursor: pointer;
            font-family: PingFangSC-Regular;
        }

        .head-title ul li a:hover {
            color: #FB841E;
            !* font-weight: normal; *!
        }
*/

        #menu {
            background: #0170d9 !important;
        }

        .head-title ul {
            width: 1100px;
            margin: 0 auto;
            padding: 0;
        }

        .head-title li {
            float: left;
            width: 100px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: center;
        }

        .head-title li a {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            text-decoration: none !important;
        }

        .active {
            background: #FB841E;
        }
    </style>

    <div class="head-title">
        <ul>
            <!--<li id="cid1"><a th:if="!${session.user}" href="/user">用户登录</a>
                <a th:if="${session.user}" href="/user/logout">注销登录</a>
            </li>-->
            <li id="cid1"><a href="/catagory/profile">个人中心</a></li>
            <li id="cid3"><a href="/catagory/cyxx">车源信息</a></li>
            <li id="cid4"><a href="/catagory/hyxx">货源信息</a></li>
            <li id="cid5"><a href="/catagory/rzqy">入驻企业</a></li>
            <li id="cid6"><a href="http://101.133.135.32:8080/jxwms/" target="_blank">仓库管理</a></li>
<!--            填主页网址-->
            <li><a href="http://106.15.250.66:9001/" target="_blank">园区介绍</a></li>
<!--            <li style="float: right; width: auto;"><a href="/catagory/echarts">园区物流信息汇总</a> </li>-->
            <li id="cid2" style="float: right; width: auto;"><a href="/catagory/echarts">园区物流数据统计</a> </li>
        </ul>
    </div>

    <!--<script type="text/javascript">
        $(document).ready(function () {
            var url = window.location.href;

            if (url.indexOf("city=") > 0) {
                $("#citytract").css("display", "");
                $("#list").css("display", "none");
                $("#head").css("display", "none");
            } else if (url.indexOf("spoint=") > 0) {
                $("#citytract").css("display", "");
                $("#list").css("display", "none");
                $("#head").css("display", "");
            }

        });
    </script>-->

    <script type="text/javascript">
        $(function () {
            var url = window.location.href;
            if (url.indexOf("index") > 0)
                $("#cid1").attr("class", "active");
            else if (url.indexOf("wlzx") > 0)
                $("#cid2").attr("class", "active");
            else if (url.indexOf("cyxx") > 0)
                $("#cid3").attr("class", "active");
            else if (url.indexOf("hyxx") > 0)
                $("#cid4").attr("class", "active");
            else if (url.indexOf("rzqy") > 0)
                $("#cid5").attr("class", "active");
        });
    </script>

</nav>

<footer th:fragment="table1" >

    <table width="960px" border="0" align="center" cellpadding="0" cellspacing="0" class="margin5">
        <tbody>
        <tr>
            <td width="696" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="nye_kj_three1"
                       style="padding-bottom: 20px;">
                    <tbody>
                    <tr>
                        <td valign="top" style="padding-top: 17px;">

                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   style="margin-bottom: 8px;">
                                <tbody>
                                <tr>
                                    <td bordercolor="#FFFFFF">

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                               class="yellow_bg"
                                               style="text-align: center; line-height: 3px;">
                                            <tbody>
                                            <tr>
                                                <td height="3">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                               class="bluele_bg nye_kj_three1"
                                               style="line-height: 36px; color: #006699; font-weight: bold; margin-bottom: 2px;"
                                               align="center">
                                            <tbody>
                                            <tr>
                                                <td width="20%" height="33" align="center">
                                                    车辆位置
                                                </td>
                                                <td width="10%"  align="center">
                                                    车牌号
                                                </td>
                                                <td width="10%" align="center">
                                                    车长
                                                </td>

                                                <td width="10%" align="center">
                                                    车辆载重
                                                </td>

                                                <td width="20%" align="center">
                                                    发布时间
                                                </td>

                                                <td width="20%" align="center">
                                                    备注
                                                </td>

                                                <td width="10%" align="center">
                                                    联系方式
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div id="citytract">
                                            <table width="100%" border="0" cellspacing="0"
                                                   cellpadding="0" style="text-align: center;"
                                                   class="size14">
                                                <table>


                                                    <tr class="gaoji_list1" th:each="vehicle,stat:${pageInfo.list}" th:classappend="${stat.odd}?'bg_dq'">
                                                        <td width="20%" align="center" class="padding_17">
                                                            <p><span style="font-size:12px" th:text="${vehicle.province}"></span>
                                                                <span style="font-size:12px" th:text="${vehicle.city}"></span>
                                                                <span style="font-size:12px" th:text="${vehicle.district}"></span>
                                                            </p>
                                                        </td>

                                                        <td width="10%" align="center">
                                                            <p style="font-size:12px;color:#666666" th:text="${vehicle.carLicense}">
                                                                鄂A88888
                                                            </p>

                                                        </td>

                                                        <td width="10%" align="center">
                                                            <p th:text="${vehicle.carLength}">综合321</p>
                                                        </td>

                                                        <td width="10%" align="center">
                                                            <p th:text="${vehicle.trainLoad}">综合321</p>
                                                        </td>

                                                        <td width="20%" align="center" >
                                                            <p th:text="${#temporals.format(vehicle.joindate,'yyyy-MM-dd HH:mm')}">321</p>
                                                        </td>

                                                        <td  width="20%" align="center">
                                                            <p th:text="${vehicle.content}">综合321</p>
                                                        </td>

                                                        <td  width="10%" align="center">
                                                            <p th:text="${vehicle.telnum}">综合321</p>
                                                        </td>

                                                        <td width="181px" align="center">

                                                        </td>
                                                    </tr>
                                                </table>
                                            </table>
                                        </div>

                                        <div class="pages">
                                            <div class="pagesum">
                                                <div class="inline"><span>当前</span> <span th:text="${pageInfo.pageNum}">1</span>  <span>页</span></div>
                                                <div class="inline"><span>总</span><span th:text="${pageInfo.pages}">1</span>  <span>页</span></div>
                                                <div class="inline"><span>共</span><span th:text="${pageInfo.total}">1</span> <span>条记录</span></div>
                                            </div>

                                            <div class="pageChange">
                                                <a th:href="@{/catagory/cyxx}">首页</a>
                                                <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                                                <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                                                <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.pages})}">尾页</a>
                                            </div>



                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>


            <script>
                var allCity = city.citylist;
                $.each(allCity,function(i,n){
                    //添加每一个省
                    $("#province").append('<option value="'+ n.p +'">' + n.p + '</option>');
                });
                $("#province").change(function(){
                    $("#country").show();
                    //执行后面函数之前清空一下
                    $("#city").html('<option value="市">市</option>');
                    $("#country").html('<option value="县">县</option>');
                    $.each(allCity,function(i,n){
                        if($("#province").val()==n.p){
                            $.each(n.c,function(a,b){
                                //添加每一个市
                                $("#city").append('<option value="'+ b.n + '">' + b.n + '</option>');
                            });
                        }
                    });
                });

                $("#city").change(function(){
                    //执行后面函数之前清空一下
                    $("#country").html('<option value="县">县</option>');
                    $.each(allCity,function(i,n){
                        if($("#province").val()==n.p){
                            $.each(n.c,function(a,b){
                                if($("#city").val()==b.n){
                                    if(b.a){
                                        $.each(b.a,function(c,d){
                                            //添加每一个县
                                            $("#country").append('<option value="'+ d.s + '">' + d.s + '</option>');
                                        })
                                    }
                                    /* else{
                                         $("#country").hide();
                                     }*/
                                }
                            });
                        }
                    });
                });
            </script>

            <div style="background: #ebf8ff; margin: 0px; padding: 8px;">
                <div style="background: #FFFFFF; border: 1px solid #bfe3ff">
                    <div id="expo-hot">

                    </div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
            <div style="width: 200px; margin: 0 auto; margin-top: 10px;">


            </div>
            </td>
        </tr>
        </tbody>
    </table>

</footer>


<!--分页信息模板-->
<div th:fragment="pagehelper">
    <style>
        .pagesum {
            display:flex;
            flex-wrap:nowrap;
            flex-direction: row;
            justify-content:left;
        }
    </style>
    <div class="pages">
        <div class="pagesum">
            <div class="inline"><span>当前</span> <span th:text="${pageInfo.pageNum}">1</span>  <span>页</span></div>
            <div class="inline"><span>总</span><span th:text="${pageInfo.pages}">1</span>  <span>页</span></div>
            <div class="inline"><span>共</span><span th:text="${pageInfo.total}">1</span> <span>条记录</span></div>
        </div>

        <div class="pageChange">
            <a th:href="@{/catagory/cyxx}">首页</a>
            <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
            <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
            <a th:href="@{/catagory/cyxx/(pageNum=${pageInfo.pages})}">尾页</a>
        </div>



    </div>
</div>

</body>


</html>