<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流园吞吐量</title>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <link href="/static/css/zhwl.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/layui-v2.6.8/layui/css/layui.css">
    <style>
        .top_input{
            display:flex;
            width:80%;
            height:40px;
            margin:20px auto;
            flex-direction:row;
            flex-wrap:nowrap;
            justify-content:space-around;
            align-items:baseline;

        }
        .input{
            margin-left:10px;
            margin-top:10px;
        }
        .btn :hover{
           color:blue;
        }
        #main{
            margin:20px auto;
        }

    </style>

    <style>
        .nav {
            width: 100%;
            height: 118px;
            overflow: hidden;
            text-align: center;
        }

        .nav img {
            width: 1440px;
        }

        .head-title {
            width: 100%;
            height: 40px;
            background: #0170d9;
            margin-bottom: 20px;
        }

        #menu {
            background: #0170d9 !important;
        }

        .head-title ul {
            width: 1100px;
            margin: 0 auto;
            padding: 0;
        }

        .head-title li {
            float: left;
            width: 100px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: center;
        }

        .head-title li a {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-decoration: none !important;
        }

        .active {
            background: #f07801;
        }
    </style>

</head>
<body>
<div>
    <div class="nav">
        <img src="/static/images/cnt-2.png">
    </div>

    <div th:replace="_fragment::top_menu"></div>


</div>

<div class="top_input">
    <div class="input">
        近一个月数据：<button class="btn"><a href="/count/date">快速查询</a></button>
    </div>
    <div class="input" >
        <form action="/count/sumdate" method="post">
           <span style="margin-left:10px">起始时间：
                <input type="text" th:value="${startdate}" placeholder="选择日期 2021-11开始" id="startdate" name="startdate">
            </span>
<!--            <span style="margin-left:10px">终止时间：-->
<!--                <input type="text"  placeholder="例如2020-08-02" id="enddate" name="enddate">-->
<!--            </span>-->
            <input class="btn" type="submit" value="查询">
        </form>
    </div>
</div>


    <!--<table display="none">
        <tr th:each="d,i:${date}">
            <td th:text="${d.id}">1</td>
            <td th:value="d.loadnum">2</td>
            <td th:value="d.unloadnum">3</td>
            <td th:value="d.localDate">4</td>
        </tr>
    </table>-->


<div id="main" style="width:80%;height:600px" ></div>
<div id="main2" style="width:80%;height:300px" ></div>


    <script src="/static/layui-v2.6.8/layui/layui.js"></script>

        <script type="text/javascript">
            layui.use("laydate",function(){
                var laydate = layui.laydate;

                laydate.render({
                    elem: '#startdate',
                    type: 'month',
                })
            });
        </script>
<script type="text/javascript" th:inline="javascript">
    window.onload=function(){

    var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();
    var data1 = [[${date}]];
    var sumdate = [[${sumDate}]];
    if(data1 != null){
       var data = data1;
    }
    if(sumdate!=null){
            var data = sumdate;
        }


        var startdate = jQuery("#startdate").val();
    var enddate = jQuery("#enddate").val();

        var dateset = new Array();
        for(var i=0;i<data.length;i++){
            dateset[i]=new Array();
            for(var j=0;j<4;j++){
                dateset[i][j]=0;
            }
        }

    
 /*   data.forEach(function(value,index){
        dateset[index][1]=value[1];

    })*/

    for(var i=0;i<data.length;i++){
        dateset[i][0]=data[i]["id"];
        dateset[i][1]=data[i]["loadnum"];
        dateset[i][2]=data[i]["unloadnum"];
        dateset[i][3]=data[i]["localDate"];
    }

    // var dateTest = new Date("2018-15");
    //     console.log(dateTest.getDay());

        dateset.unshift(["id","进货量","出货量","日期"]);
        console.log(dateset);


    var option = {
        title: {
            text: '荆襄物流园吞吐量图',
            x:'center',
            y:'top',


        },
        tooltip: {},
        legend:{
            orient: 'horizontal',
            left: 'center',
            top:'40px',
            data:["进货量","出货量"],

        },

        dataset:[{

            source:dateset
        },
            {
                transform: {
                    type: 'filter',
                    config: {
                        dimension: 3,
                        '>=':startdate,
                        '<': enddate,
                        parser: 'time'
                    }
                }
            }
        ],

        grid:[{

        },
            {

            },],
        xAxis: {
            type: 'time',
            name:"日期",
            orient: 'vertical',
            axisLabel: {
                formatter: function (value) {
                    var t_date = new Date(value);
                    if(data1 != null){
                        return [ t_date.getMonth() + 1, t_date.getDate()].join('-')}


                    if(sumdate!=null){
                        let month = t_date.getMonth() + 1
                        if(month<=9){
                            var t_month = "0"+month;}
                        else{
                            t_month = ""+month;}

                        return [t_date.getFullYear(),t_month].join('-')}
                    }
                 }



                        // + " " + [t_date.getHours(), t_date.getMinutes()].join(':');


            },
        yAxis: {
            name:"吞吐量",
            axisLabel: {
                formatter: '{value} 吨'
            }

        },
        dataZoom: [
            {
                id: 'dataZoomX',
                type: "inside",
                xAxisIndex: [0],
                filterMode: 'weakFilter',
            },
            {
                id: 'dataZoomY',
                type: "slider",
                yAxisIndex: [0],
                filterMode: 'weakFilter'
            }
        ],
        series:[{
            type:"bar",
            name:"进货量",
            encode:{
                // 将 "amount" 列映射到 X 轴。
                x: 3,
                // 将 "product" 列映射到 Y 轴。
                y:1,

             }
            },
            {
                type:"bar",
                name:"出货量",
                encode:{
                    // 将 "amount" 列映射到 X 轴。
                    x: 3,
                    // 将 "product" 列映射到 Y 轴。
                    y: 2,

                }
            },

            /*filter后的数据图表*/
           /* {
                type:"bar",
                name:"出货量",
                datasetIndex:1,
                encode:{
                    // 将 "amount" 列映射到 X 轴。
                    x: 3,
                    // 将 "product" 列映射到 Y 轴。
                    y: 2,

                }
            },
            {
                type:"bar",
                name:"进货量",
                datasetIndex:1,
                encode:{
                    // 将 "amount" 列映射到 X 轴。
                    x: 3,
                    // 将 "product" 列映射到 Y 轴。
                    y: 1,

                }
            },
*/
        ]
    };
    
    /*var option1 = {
            title: {
                text: '荆襄物流园吞吐量图',
                x:'center',
                y:'top',


            },
            tooltip: {},
            legend:{
                orient: 'horizontal',
                left: 'center',
                top:'40px',
                data:["进货量","出货量"],

            },

            dataset:[{

                source:dateset1
            },
                {
                    transform: {
                        type: 'filter',
                        config: {
                            dimension: 3,
                            '>=':startdate,
                            '<': enddate,
                            parser: 'time'
                        }
                    }
                }
            ],

            grid:[{

            },
                {

                },],
            xAxis: {
                type: 'time',
                name:"日期",
                axisLabel: {
                    formatter: function (value) {
                        var t_date = new Date(value);
                        // var date =  t_date.toLocaleDateString();
                        // console.log(date);
                        // return date;
                            return [t_date.getFullYear(),t_date.getMonth()+1].join('-')
                        // + " " + [t_date.getHours(), t_date.getMinutes()].join(':');


                    }

                }
            },
            yAxis: {
                name:"吞吐量",
                axisLabel: {
                    formatter: '{value} 吨'
                }

            },
            dataZoom: [
                {
                    id: 'dataZoomX',
                    type: "inside",
                    xAxisIndex: [0],
                    filterMode: 'weakFilter',
                },
                {
                    id: 'dataZoomY',
                    type: "slider",
                    yAxisIndex: [0],
                    filterMode: 'weakFilter'
                }
            ],
            series:[{
                type:"bar",
                name:"进货量",
                encode:{
                    // 将 "amount" 列映射到 X 轴。
                    x: 3,
                    // 将 "product" 列映射到 Y 轴。
                    y:1,

                }
            },
                {
                    type:"bar",
                    name:"出货量",
                    encode:{
                        // 将 "amount" 列映射到 X 轴。
                        x: 3,
                        // 将 "product" 列映射到 Y 轴。
                        y: 2,

                    }
                },

                /!*filter后的数据图表*!/
                /!* {
                     type:"bar",
                     name:"出货量",
                     datasetIndex:1,
                     encode:{
                         // 将 "amount" 列映射到 X 轴。
                         x: 3,
                         // 将 "product" 列映射到 Y 轴。
                         y: 2,
     
                     }
                 },
                 {
                     type:"bar",
                     name:"进货量",
                     datasetIndex:1,
                     encode:{
                         // 将 "amount" 列映射到 X 轴。
                         x: 3,
                         // 将 "product" 列映射到 Y 轴。
                         y: 1,
     
                     }
                 },
     *!/
            ]
        };*/
    
    myChart.hideLoading();
    myChart.setOption(option);

    }

</script>

</body>
</html>