

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        物流资讯-荆襄市物流公共信息平台
    </title>
    <meta name="description" content="行业新闻最真实的物流行业信息；最及时的行业动态。第一时间浏览世界各地物流相关行业新闻!让用户更便捷的了解物流行业的发展趋势。">
    <meta http-equiv="keywords" content="物流资讯,荆襄物流园管理平台资讯,物流资讯平台,供求信息,物流信息平台,物流交易,资讯">
    <link href="/static/css/zhwl.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/wlyxxpt.ico" type="image/x-ico">
</head>

<body>
<!-- 头部header -->

<div id="Head">


    <div class="nav">
        <img src="/static/images/cnt-2.png">
    </div>

   <div th:replace="_fragment::top_menu"></div>

</div>





<div>
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 8px;">
        <tbody>
        <tr>
            <td width="258" valign="top">
                <!--物流专题-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>

                    </tbody>
                </table>
                <!--物流使用工具-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 7px;">
                    <tbody>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="main_kk_topbg" style="margin:10px auto;">
                                <tbody>
                                <tr>

                                    <td width="100%"
                                        class="nei_top_kkbg  main_kk_topbg bold font_blue3 size14 padding_seven">
                                        <span><a href="/channels/118.html">查看更多</a></span>物流小工具
                                    </td>

                                </tr>
                                </tbody>

                            </table>
                            <table height="50px" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td valign="top" class="main_kk_content_tw2">
                                        <ul class="sy_gj">
                                            <li><a href="http://www.ip138.com/weizhang.htm"
                                                   target="_blank">车辆违章查询</a></li>
                                            <li><a href="http://www.ip138.com/carlist.htm"
                                                   target="_blank">车牌号码查询</a></li>
                                            <li><a href="http://www.hao123.com/haoserver/showjicc.htm"
                                                   target="_blank">手机号码查询</a></li>
                                            <li><a href="http://qq.ip138.com/idsearch/"
                                                   target="_blank">身份证号查询</a></li>
                                            <li><a href="http://weather.china.com.cn/"
                                                   target="_blank">天气预报查询</a></li>
                                            <li><a href="http://qq.ip138.com/train/"
                                                   target="_blank">火车时刻查询</a></li>
                                            <li><a href="http:" target="_blank">快递单号查询</a></li>
                                            <li><a href="http://ditu.google.cn/"
                                                   target="_blank">谷歌地图查询</a></li>
                                            <li><a href="http://www.56zhongguo.com/lc.asp"
                                                   target="_blank">公路里程查询</a></li>
                                            <li><a href="http://www.ip138.com/weizhang.htm"
                                                   target="_blank">车辆违章查询</a></li>
                                            <li><a href="http://www.ip138.com/carlist.htm"
                                                   target="_blank">车牌号码查询</a></li>
                                            <li><a href="http://www.hao123.com/haoserver/showjicc.htm"
                                                   target="_blank">手机号码查询</a></li>
                                            <li><a href="http://qq.ip138.com/idsearch/"
                                                   target="_blank">身份证号查询</a></li>
                                            <li><a href="http://weather.china.com.cn/"
                                                   target="_blank">天气预报查询</a></li>
                                            <li><a href="http://qq.ip138.com/train/"
                                                   target="_blank">火车时刻查询</a></li>
                                            <li><a href="http:" target="_blank">快递单号查询</a></li>
                                            <li><a href="http://ditu.google.cn/"
                                                   target="_blank">谷歌地图查询</a></li>
                                            <li><a href="http://www.56zhongguo.com/lc.asp"
                                                   target="_blank">公路里程查询</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" height="7" border="0" cellspacing="0" cellpadding="0"
                                   class="main_kk_bottom">
                                <tbody>
                                <tr>
                                    <td width="19%" align="left" class="main_kk_bottom_left">
                                    </td>
                                    <td width="48%">
                                    </td>
                                    <td width="33%" class="main_kk_bottom_rihgt">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td valign="top" class="padding_seven" width="350">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg  main_kk_topbg bold font_blue3 size14 padding_seven">
                                                    <span><a href="/channels/118.html">查看更多</a></span>行业动态
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="注意了！明天起车辆免检范围扩大！浙江将有240万车主受益！">
                                                            <a class="hui" target="_blank" alt="注意了！明天起车辆免检范围扩大！浙江将有240万车主受益！" href="/contents/118/121.html">
                                                                注意了！明天起车辆免检范围扩大…
                                                            </a>
                                                            <span>2020-11-20</span>
                                                        </li>

                                                        <li title="ETC扣费疑问？你想知道的都在这里">
                                                            <a class="hui" target="_blank" alt="ETC扣费疑问？你想知道的都在这里" href="/contents/118/27.html">
                                                                ETC扣费疑问？你想知道的都在这…
                                                            </a>
                                                            <span>2020-11-19</span>
                                                        </li>

                                                        <li title="荆襄市加快推进老旧营运货 车淘汰实施方案">
                                                            <a class="hui" target="_blank" alt="荆襄市加快推进老旧营运货 车淘汰实施方案" href="/contents/118/61.html">
                                                                荆襄市加快推进老旧营运货 车淘…
                                                            </a>
                                                            <span>2020-09-21</span>
                                                        </li>

                                                        <li title="各位驾驶人 即日起,处理交通违法时请注意!">
                                                            <a class="hui" target="_blank" alt="各位驾驶人 即日起,处理交通违法时请注意!" href="/contents/118/31.html">
                                                                各位驾驶人 即日起,处理交通违法…
                                                            </a>
                                                            <span>2020-07-10</span>
                                                        </li>

                                                        <li title="减免入驻企业近106万元租金，荆襄物流中心确保物畅其流">
                                                            <a class="hui" target="_blank" alt="减免入驻企业近106万元租金，荆襄物流中心确保物畅其流" href="/contents/118/30.html">
                                                                减免入驻企业近106万元租金，嘉…
                                                            </a>
                                                            <span>2020-04-17</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--...............................................................-->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg main_kk_topbg  bold font_blue3 size14 padding_seven">
                                                    <span><a href="/channels/122.html">查看更多</a></span>会展信息
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="两会热点：司法部部长张军——律师是法官、检察官、警察的朋友">
                                                            <a class="hui" target="_blank" href="/contents/122/52.html">
                                                                两会热点：司法部部长张军——律…
                                                            </a>
                                                            <span>2017-03-12</span>
                                                        </li>

                                                        <li title="2017第7届中国西部国际物流产业博览会">
                                                            <a class="hui" target="_blank" href="/contents/122/51.html">
                                                                2017第7届中国西部国际物流产业…
                                                            </a>
                                                            <span>2017-03-11</span>
                                                        </li>

                                                        <li title="两会新闻：习近平等出席全国两会少数民族代表委员茶话会">
                                                            <a class="hui" target="_blank" href="/contents/122/50.html">
                                                                两会新闻：习近平等出席全国两会…
                                                            </a>
                                                            <span>2017-02-28</span>
                                                        </li>

                                                        <li title="第八届中国（广州）国际物流装备与技术展览会">
                                                            <a class="hui" target="_blank" href="/contents/122/49.html">
                                                                第八届中国（广州）国际物流装备…
                                                            </a>
                                                            <span>2017-02-09</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--............................-->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/123.html">查看更多</a></span>物流学院
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="仓储物流变革为制造业带来“极速体验”">
                                                            <a class="hui" target="_blank" href="/contents/123/98.html">
                                                                仓储物流变革为制造业带来“极速…
                                                            </a>
                                                            <span>2017-03-11</span>
                                                        </li>

                                                        <li title="电商＋现代物流 打造清远现代物流集群">
                                                            <a class="hui" target="_blank" href="/contents/123/97.html">
                                                                电商＋现代物流 打造清远现代物…
                                                            </a>
                                                            <span>2017-03-10</span>
                                                        </li>

                                                        <li title="“互联网+”是物流供给侧改革的关键一招">
                                                            <a class="hui" target="_blank" href="/contents/123/96.html">
                                                                “互联网+”是物流供给侧改革的…
                                                            </a>
                                                            <span>2017-03-09</span>
                                                        </li>

                                                        <li title="生鲜宅配电商“有菜”宣布完成战略融资">
                                                            <a class="hui" target="_blank" href="/contents/123/95.html">
                                                                生鲜宅配电商“有菜”宣布完成战…
                                                            </a>
                                                            <span>2017-03-08</span>
                                                        </li>

                                                        <li title="为何国家智慧物流名单中唯独没京东？">
                                                            <a class="hui" target="_blank" href="/contents/123/94.html">
                                                                为何国家智慧物流名单中唯独没京…
                                                            </a>
                                                            <span>2017-03-07</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="top" class="padding_seven">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/121.html">查看更多</a></span>行业数据
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="table-layout: fixed; border: 0; width: 100%"
                                               border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="height: 100px; overflow: hidden;
                                                    padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="中国出口集装箱运输市场周度报告 (2017.3.12）">
                                                            <a class="hui" target="_blank" href="/contents/121/48.html">
                                                                中国出口集装箱运输市场周度报告…
                                                            </a>
                                                            <span>2017-03-12</span>
                                                        </li>

                                                        <li title="中国出口集装箱运输市场周度报告 (2017.3.5）">
                                                            <a class="hui" target="_blank" href="/contents/121/47.html">
                                                                中国出口集装箱运输市场周度报告…
                                                            </a>
                                                            <span>2017-03-05</span>
                                                        </li>

                                                        <li title="中国出口集装箱运输市场周度报告 (2017.2.26）">
                                                            <a class="hui" target="_blank" href="/contents/121/46.html">
                                                                中国出口集装箱运输市场周度报告…
                                                            </a>
                                                            <span>2017-02-26</span>
                                                        </li>

                                                        <li title="中国出口集装箱运输市场周度报告 (2017.2.19）">
                                                            <a class="hui" target="_blank" href="/contents/121/45.html">
                                                                中国出口集装箱运输市场周度报告…
                                                            </a>
                                                            <span>2017-02-19</span>
                                                        </li>

                                                        <li title="中国出口集装箱运输市场周度报告 (2017.2.12）">
                                                            <a class="hui" target="_blank" href="/contents/121/44.html">
                                                                中国出口集装箱运输市场周度报告…
                                                            </a>
                                                            <span>2017-02-12</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/117.html">查看更多</a></span>行政法规
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="监管？科技？谁能堵上风控漏洞？">
                                                            <a class="hui" target="_blank" href="/contents/117/5.html">
                                                                监管？科技？谁能堵上风控漏洞？
                                                            </a>
                                                            <span>2019-07-22</span>
                                                        </li>

                                                        <li title="国家发展改革委关于印发《“互联网+”高效物流实施意见》的通知">
                                                            <a class="hui" target="_blank" href="/contents/117/4.html">
                                                                国家发展改革委关于印发《“互联…
                                                            </a>
                                                            <span>2017-03-10</span>
                                                        </li>

                                                        <li title="发改委印发《“互联网+”高效物流实施意见》">
                                                            <a class="hui" target="_blank" href="/contents/117/3.html">
                                                                发改委印发《“互联网+”高效物…
                                                            </a>
                                                            <span>2017-03-09</span>
                                                        </li>

                                                        <li title="发改委发文力促互联网+物流发展 实现物流信息互联">
                                                            <a class="hui" target="_blank" href="/contents/117/2.html">
                                                                发改委发文力促互联网+物流发展 …
                                                            </a>
                                                            <span>2017-03-08</span>
                                                        </li>

                                                        <li title="交通运输部关于推进供给侧结构性改革 促进物流业“降本增效”的若干意见">
                                                            <a class="hui" target="_blank" href="/contents/117/1.html">
                                                                交通运输部关于推进供给侧结构性…
                                                            </a>
                                                            <span>2017-03-07</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/124.html">查看更多</a></span>国际贸易
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" style="">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="中国两会推动政策制定也为世界发展指明方向">
                                                            <a class="hui" target="_blank" href="/contents/124/60.html">
                                                                中国两会推动政策制定也为世界发…
                                                            </a>
                                                            <span>2017-03-12</span>
                                                        </li>

                                                        <li title="中泰或已启动“东方巴拿马运河”建设项目">
                                                            <a class="hui" target="_blank" href="/contents/124/59.html">
                                                                中泰或已启动“东方巴拿马运河”…
                                                            </a>
                                                            <span>2017-03-11</span>
                                                        </li>

                                                        <li title="DHL宣布将投资1.37亿美元建设美国跨境物流中心">
                                                            <a class="hui" target="_blank" href="/contents/124/58.html">
                                                                DHL宣布将投资1.37亿美元建设美…
                                                            </a>
                                                            <span>2017-03-10</span>
                                                        </li>

                                                        <li title="奥克兰港7月货物处理量破纪录">
                                                            <a class="hui" target="_blank" href="/contents/124/57.html">
                                                                奥克兰港7月货物处理量破纪录
                                                            </a>
                                                            <span>2017-03-09</span>
                                                        </li>

                                                        <li title="eBay扩大全球运送计划，新增38个国家和地区">
                                                            <a class="hui" target="_blank" href="/contents/124/56.html">
                                                                eBay扩大全球运送计划，新增38个…
                                                            </a>
                                                            <span>2017-03-08</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 7px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/125.html">查看更多</a></span>国内新闻
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="main_kk_content_tw"
                                                    style="padding-top: 8px;">
                                                    <ul class="floaright">

                                                        <li title="中国两会推动政策制定也为世界发展指明方向">
                                                            <a class="hui" target="_blank" href="/contents/125/68.html">
                                                                中国两会推动政策制定也为世界发…
                                                            </a>
                                                            <span>2017-03-12</span>
                                                        </li>

                                                        <li title="中泰或已启动“东方巴拿马运河”建设项目">
                                                            <a class="hui" target="_blank" href="/contents/125/67.html">
                                                                中泰或已启动“东方巴拿马运河”…
                                                            </a>
                                                            <span>2017-03-11</span>
                                                        </li>

                                                        <li title="DHL宣布将投资1.37亿美元建设美国跨境物流中心">
                                                            <a class="hui" target="_blank" href="/contents/125/66.html">
                                                                DHL宣布将投资1.37亿美元建设美…
                                                            </a>
                                                            <span>2017-03-10</span>
                                                        </li>

                                                        <li title="奥克兰港7月货物处理量破纪录">
                                                            <a class="hui" target="_blank" href="/contents/125/65.html">
                                                                奥克兰港7月货物处理量破纪录
                                                            </a>
                                                            <span>2017-03-09</span>
                                                        </li>

                                                        <li title="eBay扩大全球运送计划，新增38个国家和地区">
                                                            <a class="hui" target="_blank" href="/contents/125/64.html">
                                                                eBay扩大全球运送计划，新增38个…
                                                            </a>
                                                            <span>2017-03-08</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="padding-left: 7px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="margin7">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0" height="48">
                                            <tbody>
                                            <tr>
                                                <td width="1%" class="nei_left_kk">
                                                    &nbsp;
                                                </td>
                                                <td width="98%"
                                                    class="nei_top_kkbg bold font_blue3 size14 padding_seven">
                                                                        <span><a
                                                                                href="/channels/126.html">查看更多</a></span>国际新闻
                                                </td>
                                                <td width="1%" class="nei_right_kk">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width=" " valign="top"
                                                    class="main_kk_content_tw"
                                                    style="padding-top: 0px;">
                                                    <ul class="floaright">

                                                        <li title="国务院：女职工产假由90天延至98天">
                                                            <a class="hui" target="_blank" href="/contents/126/73.html">
                                                                国务院：女职工产假由90天延至98…
                                                            </a>
                                                            <span>2014-03-24</span>
                                                        </li>

                                                        <li title="加拿大货车出轨至少3人死">
                                                            <a class="hui" target="_blank" href="/contents/126/72.html">
                                                                加拿大货车出轨至少3人死
                                                            </a>
                                                            <span>2014-03-24</span>
                                                        </li>

                                                        <li title="加拿大货车出轨至少3人死">
                                                            <a class="hui" target="_blank" href="/contents/126/71.html">
                                                                加拿大货车出轨至少3人死
                                                            </a>
                                                            <span>2014-03-24</span>
                                                        </li>

                                                        <li title="加拿大货车出轨至少3人死">
                                                            <a class="hui" target="_blank" href="/contents/126/70.html">
                                                                加拿大货车出轨至少3人死
                                                            </a>
                                                            <span>2014-03-24</span>
                                                        </li>

                                                        <li title="加拿大货车出轨至少3人死">
                                                            <a class="hui" target="_blank" href="/contents/126/69.html">
                                                                加拿大货车出轨至少3人死
                                                            </a>
                                                            <span>2014-03-24</span>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="7" border="0" cellspacing="0"
                                               cellpadding="0" class="main_kk_bottom">
                                            <tbody>
                                            <tr>
                                                <td width="19%" align="left"
                                                    class="main_kk_bottom_left">
                                                </td>
                                                <td width="48%">
                                                </td>
                                                <td width="33%" class="main_kk_bottom_rihgt">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 尾部header -->


<div id="Bottom">

    <div id="footerNav" style="background-color: #0170DB; color: #FFFFFF">
        <center>
            <ul>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">关于我们</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">网站动态</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">资费标准</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">网站公告</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">服务条款</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">联系我们</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">网站地图</a> </li>
                <li><a href="http://192.168.4.222:8848/default.aspx" target="_blank">广告服务</a> </li>
            </ul>
        </center>
    </div>
    <!--网站结尾-->
    <table width="960" border="0" align="center" cellspacing="0" cellpadding="0" style="margin-top: 5px;">
        <tbody>
<!--        <tr>-->
<!--            <td align="center">-->
<!--                Copyright Reserved 2009-2012 荆襄物流园 | <a-->
<!--                    href="https://beian.miit.gov.cn/" target="_blank">浙ICP备12010004号</a><br>-->
<!--                服务热线：0573-83988699(呼叫中心)&nbsp;&nbsp;传真：0573-83988699-->
<!--            </td>-->

<!--        </tr>-->
        <tr>
            <td style=" padding-left:400px">

            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>

</html>
